h1 {
	color: green; 
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-family: 'Julius Sans One', sans-serif;
}

p{
text-align: justify;
margin-left: 420px;
margin-right: 420px;
font-family: 'Pontano Sans', sans-serif;
}


.span-pink { 
	color: pink; 
}

.span-bold { 
	font-weight;
}

.frame{
	border: 10px solid black;
	margin: 100px;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 10px 10px 10px;
}

.frame-bars{
	border: 5px solid green;
	margin: 50px;
	padding: 30px;
	border-radius: 100px;
}

.frame2{
	border: 10px solid black;
	border-radius: 100px;
	padding: 30px;
	width: 200px;
}

.imagerond {
	width : 150px; 
	height : 150px;
  	border: none;
	-moz-border-radius : 75px;
	-webkit-border-radius : 75px;
	border-radius : 75px;
}

body, h3, ol {
	background-color: #fdf3e7;
	text-align: center;
}


/*
h3, ol {
	text-align: center;
}
*/

/*DRAPEAU*/
.drapeau {
	background: grey;
	height: 150px;
	width: 300px;
	/*positionner les enfants les uns à côté des autres*/
	display: flex;
	/*positionner horizontalement les enfants*/
	justify-content: center;
	/*positionner verticalement les enfants*/
	align-items: center;
}

.blue{
	background: blue;
	height: 150px;
	width: 200px;
}

.white{
	background: white;
	height: 150px;
	width: 200px;
}

.red{
	background: red;
	height: 150px;
	width: 200px;
}

/*NAVBAR*/
.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  position: fixed;
  top: 0;
  width: 100%;

}

.menu {
  display: flex;
  justify-content: flex-end;
}

.item {
  margin: 10px 30px;
  color: white;
}

.item:hover {
  color: pink;
}

/*TITRE CARTE*/
.titrecarte {
	display: flex;
  	justify-content: space-between;
  	text-align: center;
  	background: white;
}


.encadre {
	display: flex;
	justify-content: center;
}

.fondcadre {
	background-color: black;
}
