h1 {
	color: green; 
	font-family: arial;
}

.span-pink { 
	color: pink; 
}

.span-bold { 
	font-weight;
	background: green;
}

.frame{
	border: 10px solid black;
	margin: 100px;
	padding: 30px;
}

.frame-bars{
	border: 5px solid green;
	margin: 50px;
	padding: 30px;
}

body, h3, ol {
	background-color: #fff0e6;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23b4d6ab' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
	text-align: center;
}

/*
h3, ol {
	text-align: center;
}
*/

/*DRAPEAU*/
.drapeau {
	background: grey;
	height: 300px;
	width: 600px;
	/*positionner les enfants les uns à côté des autres*/
	display: flex;
	/*positionner horizontalement les enfants*/
	justify-content: center;
	/*positionner verticalement les enfants*/
	align-items: center;
}

.blue{
	background: blue;
	height: 300px;
	width: 200px;
}

.white{
	background: white;
	height: 300px;
	width: 200px;
}

.red{
	background: red;
	height: 300px;
	width: 200px;
}

/*NAVBAR*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;

}

.menu {
  display: flex;
  justify-content: flex-end;
}

.item {
  margin: 10px 30px;
  color: green;
}

.item:hover {
  color: pink;
}


.carte {
	display: flex;
  justify-content: space-between;
  align-items: center;
  background: green;
}

